<a href="https://colab.research.google.com/github/acchu0408/Accenture-NA/blob/main/Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
df = pd.read_csv("Task 2.csv")

In [ ]:
df.head()

,Column1,Content ID,Reaction Type,Datetime,User ID,Content Type,Category,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,22-04-2021 15:17,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,NaN,NaN
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,0.0
2,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,0.0
3,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,10.0
4,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,15.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Column1        25553 non-null  int64
 1   Content ID     25553 non-null  object
 2   Reaction Type  24573 non-null  object
 3   Datetime       25553 non-null  object
 4   User ID        25553 non-null  object
 5   Content Type   25553 non-null  object
 6   Category       25553 non-null  object
 7   Sentiment      24573 non-null  object
 8   Score          24573 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.8+ MB

In [ ]:
df.isnull().sum()

Column1            0
Content ID         0
Reaction Type    980
Datetime           0
User ID            0
Content Type       0
Category           0
Sentiment        980
Score            980
dtype: int64

In [ ]:
df.drop('Column1', axis = 1, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     25553 non-null  object
 1   Reaction Type  24573 non-null  object
 2   Datetime       25553 non-null  object
 3   User ID        25553 non-null  object
 4   Content Type   25553 non-null  object
 5   Category       25553 non-null  object
 6   Sentiment      24573 non-null  object
 7   Score          24573 non-null  float64
dtypes: float64(1), object(7)
memory usage: 1.6+ MB

In [ ]:
df.head()

,Content ID,Reaction Type,Datetime,User ID,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,22-04-2021 15:17,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,0.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,10.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,15.0

In [ ]:
df = df.dropna()

In [ ]:
df.head()

,Content ID,Reaction Type,Datetime,User ID,Content Type,Category,Sentiment,Score
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,0.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,10.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,15.0
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,02-11-2020 06:28,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,negative,15.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25552
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Reaction Type  24573 non-null  object
 2   Datetime       24573 non-null  object
 3   User ID        24573 non-null  object
 4   Content Type   24573 non-null  object
 5   Category       24573 non-null  object
 6   Sentiment      24573 non-null  object
 7   Score          24573 non-null  float64
dtypes: float64(1), object(7)
memory usage: 1.7+ MB

In [ ]:
df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', 'Culture', '"food"', 'Food',
       '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [ ]:
df['Category'] = df['Category'].replace('"', '', regex = True)
df['Category'] = df['Category'].str.lower()

In [ ]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [ ]:
df['Sentiment'].unique()

array(['negative', 'positive', 'neutral'], dtype=object)

In [ ]:
df.to_csv('Task 2 Clean.csv', index = False)