<a href="https://colab.research.google.com/github/acchu0408/Accenture-NA/blob/main/TOP_5_Categories.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Data Cleaning and Modeling Task 2.csv")

### **TOP 5** Categories based on Reaction Type

In [ ]:
df.groupby('Category').agg({"Reaction Type" : "count"}).reset_index().sort_values(by = 'Reaction Type', ascending = False).head(5)

          Category  Reaction Type
0          animals           1897
9          science           1796
7   healthy eating           1717
6             food           1699
12      technology           1698

### **TOP 5** Categories based on Score

In [ ]:
df.groupby('Category').agg({"Score" : "sum"}).reset_index().sort_values(by = 'Score', ascending = False).head(5)

          Category  Score
0          animals  74965
9          science  71168
7   healthy eating  69339
12      technology  68738
6             food  66676

In [ ]:
final = df.groupby('Category').agg({"Score" : "sum"}).reset_index().sort_values(by = 'Score', ascending = False).head(5)

In [ ]:
final.head()

          Category  Score
0          animals  74965
9          science  71168
7   healthy eating  69339
12      technology  68738
6             food  66676

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5 non-null      object
 1   Score     5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 120.0+ bytes

In [ ]:
final.to_csv('Top 5 Categories.csv', index = False)